.weather {
    width: 100%;
    max-width: 420px;
    background-color: #eeea;
    padding: 1em 1.5em 1.5em;
    border-radius: 0.9em;
    font-size: 1rem;
    border: 0.3rem solid rgb(26, 110, 179);
    margin-bottom: 1em;
}

.weather__country {
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    font-weight: 800;
}

.weather__body {
    display: grid;
    grid-template-columns: 5fr 6fr;
    align-items: center;
    margin-bottom: 1em;
}

.weather__icon {
    width: 100%;
    border: 0.2rem solid rgb(107, 180, 236);
    margin-top: 0.5rem;
    background-color: rgb(139, 196, 243);
    border-radius: 0.8rem;
}

.weather__description {
    text-align: center;
    font-size: 1em;
    font-weight: 650;
    text-transform: capitalize;
    margin-bottom: 0.8em;
}

.weather__list {
    display: grid;
    gap: 0.5em;
    margin-left: 0.5rem;
}

.weather__item {
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 0.9em;
}

.weather__value {
    font-weight: 600;
}

.weather__temp {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1rem;
}

.weather__footer {
    display: flex;
    justify-content: center
}

.weather__btn {
    border: none;
    font-size: 0.9em;
    padding: 0.6em 1.5em;
    border-radius: 0.5em;
    font-weight: 400;
    background-color: rgb(12, 49, 80);
    color: white;
    transition: transform 100ms ease;

    &:hover {
        background-color: rgb(18, 79, 129);
        font-weight: 500;
    }
}

.weather__btn:active {
    transform: scale(0.95);
}